body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  overflow-x: hidden;
}

/* General styles for content sections */
.parallax div {
  text-align: center;
  width: 500px;
  color: white;
}

.parallax {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.parallax-1 {
  background-image: url("https://img.freepik.com/free-vector/natural-evening-landscape-with-green-hills_126523-20.jpg?t=st=1724256751~exp=1724260351~hmac=13f801f422eec878184205822b1f0e38c50cf6c7cc5c5ac5a8b844b0d1c2c4cc&w=1380");
}

.parallax-2 {
  background-image: url("https://img.freepik.com/free-vector/gradient-lake-scenery_23-2149151145.jpg?t=st=1724257016~exp=1724260616~hmac=8e44847f02bfbfcc3e2139c63155d154beac42c215a37824995f9556b76365ab&w=1380");
}

.parallax-3 {
  background-image: url("https://img.freepik.com/free-vector/night-scene-with-lake-mountains-moon-sky_107791-20559.jpg?t=st=1724257070~exp=1724260670~hmac=b1df116ae1abe6e77eafd0abea9c107c054130b66dd1af430c5567485d26ab08&w=1380");
}

.parallax-4 {
  background-image: url("https://img.freepik.com/free-vector/hand-drawn-flat-winter-solstice-background_23-2149193493.jpg?t=st=1724257118~exp=1724260718~hmac=de1b5522b03fafb1e3a2d43bfbdab0a760f171a5cfb925205b09457b1fe012b2&w=996");
}

.parallax-5 {
  background-image: url("https://img.freepik.com/free-vector/hills-with-green-grass-conifers-sunset_107791-10012.jpg?t=st=1724257179~exp=1724260779~hmac=f335829db5fde90f6c60e528f9b4b078217dfe734d1ff2e6b39a564357a3ab0c&w=1380");
}

/* Section headers */
h1 {
  color: white;
  text-align: center;
  margin-top: 0;
  padding-top: 20%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-size: 3em;
}

h2 {
  color: white;
  text-align: center;
  margin-top: 0;
  padding-top: 20%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-size: 2em;
}

/* Button styling */
button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}
